/*https://www.fontsquirrel.com/fonts/computer-modern*/
@font-face {
    font-family: CMU Serif;
    src: url(fonts/cmunrm.ttf);
}

/*https://fonts.google.com/specimen/Inconsolata*/
@font-face {
    font-family: Inconsolata;
    src: url(fonts/Inconsolata.ttf);
}

body{
    margin:40px auto;
    max-width:700px;
    line-height:1.6;
    font-size:18px;
    color:#DDD;
    background-color: #334;
    font-family: CMU Serif;
    padding:10px
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

figcaption{
    padding: 5px;
    font-size: 14px;
    text-align: center;
}

.title{
    font-family: CMU Serif;
    font-size: 55px;
    text-align: center;
}

.text{
    font-family: CMU Serif;
    font-size:18px;
    color:#DDD;
    text-align: left;
}

blockquote pre{
    font-family: CMU Serif;
    font-style: italic;
}

pre code{
    font-family: Inconsolata;
    font-size: 20px;
    color:#CCC;
    background-color: #223;
    border: 2px solid #557;
    display: block; 
    padding: 20px;
    line-height:1.2
}

a:link {
    color: #6DF;
}
a:visited {
    color: #C8F;
}
a:hover {
    color: #FFF;
}
a:active {
    color: #333;
}