body {
    background-color: rgb(59,60,83);
    color: rgb(215,215,219);
    font-family: Palatino;
    font-size: 24px;
    display: flex;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

blockquote pre{
	font-family: Palatino;
	font-style: italic;
}